body {
    background-color : #fff;

}

#banner {
    position: fixed;  /*고정*/
    width: 130px;  /*가로길이*/
    height: 835px;  /*세로길이*/
    right: 15px;      /*위치 지정 : 오른쪽에서 몇 px에 위치, 왼쪽 배너이면 left : 2px; */
    top: 48px;     /* 위치 지정 : 상단에서 몇 px에 위치, 하단부터라면 bottom:48px; */
    color : #fff;
    background-color : lightpink;
}

ul {
    text-align: center;
    margin-left: -40px;
    margin-right: auto;
}

#list-group {
    list-style-type : none
}

#list-group-item {
    padding-top : 40px;
    padding-bottom : 40px;
}

